* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color:#aaaaaa;
    width: 100%;
    height: 100vh;
}

.container {
    overflow:auto
}

.location {
    float: left;
    width: 30%;
    text-align: center;
}


.main {
    float: left;
    width: 70%;
    padding-left:10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

input[type=button], button {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #0a3950;
    border-radius: 3px;
    background-color: #0a3950;
    color: #e5e5e5;
    font-weight: bold;
    text-transform: uppercase;
}

a:link, a:visited {
    color: black;
    padding: 25px ;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: larger;
}
  
a:hover, a:active {
background-color: #135d82;
}

.map {
    width: 100%;
    height:100vh;
    object-fit: cover;
}

h5 {
    background-color: #0a3950;
    color: #e5e5e5;
    padding: 10px;
}



.filter {
    padding: 1px 0;
    margin-left: 5px;
    display: grid;
    grid-template-columns:1fr 60px;
    gap: 5px;
}

.search {
    margin-left: 5px;
    display: grid;
    grid-template-columns:1fr 80px;
    gap: 5px; 
}

.card {
    display: grid;
    grid-template-columns:80px 1fr 20px;
    gap: 10px;
    align-items: center;
}

.card > div {
    padding: 5px;
}

.card  h6.address {
    text-transform: uppercase;
}

.card > .col-1 {
    border-left: 2px solid #0a3950;
}

.location-list {
    overflow: auto;
    height: 800px;
}

#filter-option{
    display: none;
}

#filter-option i {
    color: #0a3950;
}

#filter-option button{
    position:relative;
    width: 40%;
    padding: 10px;
    right: -100px;
}

#tabs {
    display: none;
    margin-bottom: 5px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 5px solid #0a3950;
    border-bottom: 5px solid #0a3950;
}

li,a {
    width: 100%;
}


@media only screen and (max-width: 620px) {
    .location, .main{
        width: 100%;
    }

    #tabs {
        display: block;
    }
}